
services:
  db:
    image: postgres:15
    restart: always
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: database
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  qdrant:
    image: qdrant/qdrant
    restart: always
    container_name: qdrant
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage

  acontroller:
    build:
      context: .
      dockerfile: acontroller/Dockerfile
    image: acontroller
    container_name: acontroller
    restart: always
    depends_on:
      - db
      - qdrant
    ports:
      - "8000:8000"
    env_file:
      - acontroller/.env
    volumes:
      - ./acontroller:/app/acontroller

  telegram_bot:
    build:
      context: ./telegram_bot
      dockerfile: Dockerfile.bot
    image: telegram_bot
    container_name: telegram_bot
    restart: always
    depends_on:
      - db
      - qdrant
    env_file:
      - telegram_bot/.env
    ports:
      - "8080:8080"


volumes:
  pgdata:
  qdrant_data: